HOST=0.0.0.0
PORT=1337
APP_KEYS=APP_KEY_1,APP_KEY_2,APP_KEY_3,APP_KEY_4
API_TOKEN_SALT=YOUR_API_TOKEN_SALT
ADMIN_JWT_SECRET=YOUR_ADMIN_JWT_SECRET
TRANSFER_TOKEN_SALT=YOUR_TRANSFER_TOKEN_SALT
# Database
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=localdata/data.db
JWT_SECRET=YOUR_JWT_SECRET
# can be cron syntax or 'ONCE'
SYNC_CAFES_CRON="DAILY"
# googlemaps key
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
# mails
HWK_MAIL="your_hwk_mail@example.com"
FROM_MAIL="your_from_mail@example.com"
# URLs
STRAPI_URL="http://localhost:1337"
FRONTEND_URL="http://localhost:4200"